:root{
    --accent-text-color: #2E2F42;
    --button-color: #4D5AE5;
    --contact-color: #434455;
    --title-color: #FFFFFF;
    --background-color:#404BBF;
    --footer-color: #F4F4FD;
    --body-color:#434455;
    --description-color:#E7E9FC;
     }

   .container{

   width: 1158px;
   padding:0 15px;
   margin:0 auto;
}
 .header {
 font-weight: 600;
 font-size: 40px;
 line-height: 1.1;
 color:var(--accent-text-color);
 text-decoration: none;
 border-bottom: 1px solid var(--description-color) ;
 }

 .container-header-nav{
   display: flex;
    border-bottom: 1px solid var(--description-color);
    margin-left: 156px;
    margin-right: 156px;

 }
 .header-container{
 display: flex;
 gap: 24px;
 max-width: 1128px;;
 align-items: center;
 background: var(--title-color);
 border-bottom: 1px solid var(--description-color);
 }
 a.decoration{
 color:var(--button-color);
 text-decoration: none; 
 }
 .header-nav{
 font-weight: 600;
 text-transform: uppercase;
 margin-right: auto;
 display: flex;
 align-items: center;

 }
 .header-nav.li{
    margin-right: 40px;
    margin-left: 70px;
 }
 .header-nav.link{
 display: block;
 padding-top: 24px;
 padding-bottom: 24px;
 }
 .header-nav.item:last-child{
    margin-right: 0;
 }
 .first-logo{
 font-family: 'Raleway';
 font-weight: 800;
 font-size: 18px;
 line-height: 1.33;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 color:var(--button-color);
 text-decoration: none;
 }
 .second-logo link > span{
 font-family: 'Raleway';
 font-weight: 800;
 font-size: 18px;
 line-height: 1.33;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 color:var(--accent-text-color);
 text-decoration: none;
 }
 .header-item{
    display: flex;
    margin-left: 40px;
 }
 .header-link {
    display: flex;
    font-weight: 500;
    font-size: 16px;
     line-height: 1.33;
     letter-spacing: 0.02em;
     color: var(--accent-text-color);
     text-transform: capitalize;
     padding-top: 24px;
     padding-bottom: 24px;
 }
 .header-link:hover,
 .header-link:focus{
     color: var(--background-color);
 }
 .link {
     text-decoration: none;
     font-style: normal;
     color:var(--accent-text-color);
 }

 .hero-title{
 font-weight: 700;
 font-size: 56px;
 line-height: 1.07;
 letter-spacing: 0.02em;
 padding-top: 188px;
 padding-right: 472px;
 padding: bottom 292px; ;
 padding-left: 492px;
 color:var(--title-color);
 background:var(--accent-text-color);
 }
.contact-item,
.header-item{
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;

 }
 .contact-list{
    display: flex;
 }
.contact-item{
    display: flex; 
    margin-left: auto;
    margin-right: 40px;
    margin-top: 24px;
  
 }
 .contact-tel link{
 font-size: 16px;
 line-height: 1.33;
 letter-spacing: 0.02em;
 color: var(--contact-color);
 }
 .contact-mail link{
 font-family: 'Roboto';
 font-style: normal;
 font-size: 16px;
 line-height: 1.33;
 letter-spacing: 0.02em;
 color:var(--contact-color);

 }

 .btn{
   margin-right: 24px;
 }
 body{
 font-family:'Roboto', sans-serif;
 color:var(--body-color);
 margin:0;
 padding-left:0;
 }
 .visually-hidden {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 white-space: nowrap;
 clip-path: inset(100%);
 clip: rect(0 0 0 0);
 overflow: hidden;
 }
 .hero{
 padding-top: 188px;
 padding-bottom:292px;
 background: var(--accent-text-color);
 }
 .hero-container{
    width: ;
    height: 600px;
    margin-bottom : 0;
 }
 .hero-title{
 font-weight: 700;
 font-size: 56px;
 line-height: 1.07;
 letter-spacing: 0.02em;
 color:var(--title-color);
 background:var(--accent-text-color);
 margin-left: auto;
 margin-right: auto;
 justify-content: center;

 }
 .button-hero{
 font-family:inherit;
 font-weight: 500;
 font-size: 16px;
 line-height: 1.5;
 padding: 16px 32px;
 letter-spacing: 0.04em;
 color:var(--title-color);
 background:var(--button-color);
 display: block;
 margin: auto;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
 border-radius: 4px;
 text-align: center;
 }
 .button-hero:hover,
 .button-hero:focus{
     color: var(--title-color);
     background:var(--background-color);
 }
 .container{
   width: 1158px;
   padding:0 15px;
   margin:0 auto;
 }
 .about-button{
    display:flex;
    width:calc:(100%-96)/5;
    padding-top: 96px;
    padding-bottom : 72px;
    justify-content:center; 
 }
 .button-primary{
 font-family:inherit;
 font-weight: 500;
 font-size: 16px;
 line-height: 24px;
 letter-spacing: 0.04em;
 color: var(--title-color);
 cursor: pointer;
 display: inline-block;
 background: var(--background-color) ;
 border-radius: 4px;
 border: 1px solid var(--description-color);
 padding: 12px 24px;
 }
 .button-primary:focus,
 .button-primary:hover{
 color: var(--button-color);
 }
 .button-secondary{
 font-family:inherit;
 font-weight: 500;
 font-size: 16px;
 line-height: 1.33;
 display: inline-block;
 letter-spacing: 0.04em;
 color: var(--button-color);
 cursor: pointer;
 background:var(--footer-color);
 border: 1px solid var(--description-color);
 border-radius: 4px;
 gap: 24px;
 padding: 12px 24px;
 }
 li{
 list-style-type:none;
 }
 .test-container{
    display: flex;
    width:1158px;
    padding-left:15px;
    padding-right:15px;
    margin-left: auto;
    margin-right: auto;
 }

 .about-list-set{
   display: flex;
   flex-wrap: wrap;
   gap:48px 24px;
   padding-left :0;
   margin:0;
 }

 .img{
   display: block;
   max-width: 100%;
   height: auto;
 }
 .list-item {
   width:calc((100% - 48px) /3);
   margin-right: 24px;
   margin-bottom:48px;
   gap: 24px;
 }
.list-item:nth-child(-n+3){
flex-basis: calc((100% - 48px) /3);
}
 .about-item{
   width:calc((100% - 48px) /3);
   background: var(--title-color);
}
.img-text{
   padding-top:32px;
   padding-bottom: 32px;
   padding-left: 16px;
   margin-right: 0;
   border: 1px solid var(--description-color);
}
 .flex-container{
    display: flex;
    flex-wrap: wrap;
    display: contents;
 }
 .flex-element{
    width: calc(100%/3);
    margin-right: 30px;
 }
.flex-element:nth-child(3n){
    margin-right: 0;
}
 .flex-element:nth-child(3n+1){
    margin-right: 0;
 } 
 .features-list{
   display:flex;
   column-gap: 24px;

 }
 .features-item{
    display:inline;
justify-content:center;
flex-direction: row;
    gap: 24px;
 }
 .features-title{
 font-weight: 500;
 font-size: 20px;
 line-height: 1.2;
 letter-spacing: 0.02em;
 color:var(--accent-text-color);
 }
 .features-desc{
 font-weight: 400;
 font-size: 16px;
 line-height:1.5;
 letter-spacing: 0.02em;
 color:var(--body-color);
 }
 .headline{
 font-weight: 700;
 font-size: 36px;
 line-height: 1.11;
 letter-spacing: 0.02em;
 text-transform:capitalize;
 color:var(--accent-text-color);
 justify-content: center;
 text-align: center;
 padding-bottom: 42px;
 padding-top: 120px;
 }
 .abilities-set{
   display: flex;
   margin-bottom: 120px;
   gap: 24px;
   align-items: center;
 }
 .card-set{
   padding: 0;
   margin: 0;
   display: flex;
   justify-content: center;
   gap: 24px;
 }
 .card-set > .item{
   flex-basis: (100% / 4);
   gap: 24px;
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
   border-radius: 0px 0px 4px 4px;
   margin-bottom: 120px;
   background:var(--title-color);
}
.card-content{
   padding-top: 32px;
   padding-right: 65px;
   padding-bottom: ;
   padding-left: 65px;
 }
.container{
   width: 1158px;
   padding:0 15px;
   margin:0 auto;
}
.abilities-cards{
   display: flex;

  }
 .team{
     background:var(--footer-color);
 }
 .container{
   width: 1158px;
   padding:0 15px;
   margin:0 auto;
 }
 .header-team{
 font-weight: 700;
 font-size: 36px;
 line-height: 1.11;
 letter-spacing: 0.02em;
 text-transform: capitalize;
 color: var(--accent-text-color);
 text-align: center;
 margin-bottom: 72px;
 padding-top: 120px;
 }
 .about-list-set{
display: flex;
flex-wrap: wrap;
gap: 48px 24px;
padding-left: 0;
 }
 .about-item{
   display: flex;
   flex:wrap;
   width: calc(100%-48px)/3;
   background: var(--title-color);
   margin-left: 24px;
   margin-bottom: 48px;
   gap: 24px;
   border:1px solid var(--description-color);
 }

 .img-text{
   padding-top: 32px;
   padding-bottom: 32px;
   padding-left: 16px;
 }
 .about-description {
 font-weight: 500;
 font-size: 16px;
 line-height: 1.33;
 letter-spacing: 0.04em;
 color:var(--button-color);
 }
 .about-title {
 font-weight: 500;
 font-size: 20px;
 line-height: 1.2;
 letter-spacing: 0.02em;
 color:var(--accent-text-color);
 text-align: center;
 margin-top: 32px;
 margin-bottom: 8px;
 }
 .list{
     list-style: none;
 }
 .about-subtitle {
 font-weight: 400;
 font-size: 16px;
 line-height: 1.33;
 letter-spacing: 0.02em;
 color:var(--body-color);
 text-align: center;
 margin-bottom: 32px;
 }                                              
 .page-footer{
 color:var(--footer-color);
 background-color:var(--accent-text-color);
 padding-top: 138px;
 padding-bottom: 100px;
 padding-left: 156px;
 }
 a.decoration{
 text-decoration: none; 
 }
 

 .footer-logo{
font-family:'Raleway';
 font-weight: 800;
 font-size: 18px;
 line-height: 1.17;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 color:var(--button-color);
 text-decoration: none;
 margin-bottom: 16px;
 }
 .footer-second-logo {
 font-family:'Raleway';
 font-weight:800;
 font-size: 18px;
 line-height: 1.33;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 color:var(--footer-color);
 text-decoration: none;
 }
 .footer-description{
 width:264px;
 font-size: 16px;
 line-height: 1.17;
 letter-spacing: 0.02em;
 color:var(--description-color);
 